.job-list-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.job-list-container h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.job-list-container p {
    margin-bottom: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #94263e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.job-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-card {
    border: 1px solid #94263E;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.job-card h3 {
    color: #94263E;
    margin: 0;
}

.job-priority {
    background-color: #94263E;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.job-location {
    margin: 5px 0;
}

.closing-date {
    margin: 10px 0;
}

.apply-button,
.view-details-button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button {
    background-color: #28A745;
    color: white;
}

.close-button{
    background-color: red;
    padding: 3px 10px;
    color: white;
    margin-left: 95%;
}

.view-details-button {
    background-color: #17A2B8;
    color: white;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    overflow-y: auto;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .popup-apply {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    max-width: 45%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  @media (max-width: 768px) {
    .popup {
      margin-top: 300px;
    }
    .popup-apply{
        width: 90%;
        max-width: 90%;
    }
  }