.active{
    color: #94263e;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav .title {
    margin: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
    text-decoration: none;
}

nav img{
    height: 50px;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li .button{
    background-color: #94263e;
    color: white;
    border-radius: 0.25rem;
}


nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-weight: bold;
}

nav ul li a:not(.active,.button):hover {
    color:#94263e ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.3rem;
    width: 100%;
    background-color: #94263e;
    border-radius: 0.2rem;
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
        margin-top: 0.25rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}